body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    position: relative;
}


.container {
    position : absolute;
}

.menuContainer {
    height: 100vh;
    display: grid;
    place-items: center;
}

.menuRow {
    position: absolute;
    z-index: 1;
}

.btn {
    width: 250px;
    height: 5s0px;
    text-align: center;
    padding: 0;
    display: inline-block;
    line-height: 50px;
}

#menuCanvas {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
}

#gameBody {
    background-color: black;
}

#gameCanvas {
    background-color: rgb(0, 0, 0);
    width: 640px;
    height: 360px;
}

#scores {
    font-size:600%; 
    padding:0; 
    margin:0;
    color: white;
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
}

#title {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 10px 0px;
    vertical-align: baseline;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
}

#winnerBoard {
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
    color: white;
}