body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

canvas {
    position: relative;
}


.container {
    position : absolute;
}

#gameBody {
    background-color: black;
}

#gameCanvas {
    background-color: rgb(255, 255, 255);
    width: 640px;
    height: 360px;
}

#scores {
    font-size:600%; 
    padding:0; 
    margin:0;
    color: white;
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
}

#title {
    background-color: white;
    color: black;
    text-align: center;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 10px 0px;
    vertical-align: baseline;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
}

#winnerBoard {
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
}